@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Google maps distance example</h1>
    <p  style="color:red;">BEFORE YOU START make sure you get your own Google map API Key and insert it in code !!!</p>
    <p>More articles at: <a href="http://www.codeproject.com/Members/AJSON" target="_blank">CodeProject</a> ... follow me on <a href="https://twitter.com/ajsondev" target="_blank">twitter &#64;ajsondev</a>  for article alerts</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2><a href="demo1">Example 1</a> - simple distance between two points</h2>
        <p>
            This demonstrates getting and displaying the distance between two points
        </p>

      
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2><a href="demo2">Example 2</a> - distance between one origin and multiple target destinations</h2>
        <p>
            This demonstrates getting and displaying the distance between multiple points
        </p>
    </div>
</div>

