
@{
    ViewBag.Title = "CalculateDistance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<div class="row">
     <div class="col-md-12">
         <h2>Siyaya Travel Assist</h2>
         <p>
             Generate Time and Distance
         </p>

         <div>
             <div>
                 Travel From : <input id="travelfrom" type="text" name="name" value="Pretoria, SA" />
                 To : <input id="travelto" type="text" name="name" value="Johannesburg, Gauteng" />
                 <input type="button" value="Get Route" onclick="GetRoute()" />

             </div>
             <br />
             <div>
                 <div id="dvDistance">
                 </div>
             </div>

         </div>

         <div id="dvMap" style="min-height:500px"></div>

     </div>
</div>

@section scripts{

    <!--INSERT API KEY -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA6RKAC0Pi10nrSYNh51ldJDSTD69CtDHc" type="text/javascript"></script>

  
    <script>

        //Variables that we will use later
        var source, destination;
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();

        // initialise the location of the map (ref lat and lng)
        var map = new google.maps.Map(document.getElementById('dvMap'), {
            center: { lat: -25.7562445 , lng: 28.2409667 },
            zoom: 13,
            mapTypeId: 'roadmap'
        });

        google.maps.event.addDomListener(window, 'load', function () {
            new google.maps.places.SearchBox(document.getElementById('travelfrom'));
            new google.maps.places.SearchBox(document.getElementById('travelto'));
            directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': true });
        });

        //Important function
        function GetRoute() {

            directionsDisplay.setMap(map);

            source = document.getElementById("travelfrom").value;
            destination = document.getElementById("travelto").value;

            var request = {
                origin: source,
                destination: destination,
                travelMode: google.maps.TravelMode.DRIVING
            };

            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });

            //DISTANCE AND DURATION/ 
            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix({
                origins: [source],
                destinations: [destination],
                travelMode: google.maps.TravelMode.DRIVING,
                unitSystem: google.maps.UnitSystem.METRIC,
                avoidHighways: false,
                avoidTolls: false
            }, function (response, status) {

                if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                    var distance = response.rows[0].elements[0].distance.text;
                    var duration = response.rows[0].elements[0].duration.value;
                    var dvDistance = document.getElementById("dvDistance");
                    duration = parseFloat(duration / 60).toFixed(2);
                    dvDistance.innerHTML = "";
                    dvDistance.innerHTML += "Distance: " + distance + "<br />";
                    dvDistance.innerHTML += "Time:" + duration + " min";

                } else {
                    alert("Unable to find the distance via road.");
                }
            });
        }

    </script>
   
}
