@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2><a href="CalculateDistance">Get Distance</a></h2>
        @*<p>
            This demonstrates getting and displaying the distance between two points
        </p>*@


    </div>
</div>

